numpy
pandas
sympy
tqdm
six
requests
cobra
biopython
bioservices
xmltodict
mmtf-python
msgpack-python
awesome-slugify
ipywidgets
lxml
json-tricks
seaborn
matplotlib
beautifulsoup4
nbsphinx
bcbio-gff
biopandas
more_itertools
bcbio-gff
scipy
pytest
deprecation
networkx
joblib
